.jumbotron{
  background-color: #B98B9E;
}
h1{
  font-family: cursive;
  font-weight: bold;
  margin-bottom: 35pt;

}
h3{
  color: navy;
}
label{
  color: white;
}
.displayOrder{
  text-align: center;
}
#redText{
  color: red;
}
.goBack{
  text-align: center;
